.wax-input__input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  min-width: 0;
  flex: 1;
  border: 0;
  outline: 0;
  height: 24px;
  line-height: 24px;
  border-radius: 0;
  text-align: left;
  background-color: transparent;
  resize: none;
  user-select: auto;
}
.wax-input .wax-input__title {
  flex: none;
  width: 60px;
  color: #666;
}
.wax-input__body {
  display: flex;
  align-items: center;
  text-align: left;
}
.wax-input__error {
  font-size: 12px;
  line-height: 16px;
  margin-top: 4px;
  color: #ee0a24;
  text-align: left;
}
.wax-input__clear {
  cursor: pointer;
}
.wax-input--disabled .wax-input__input,
.wax-input--readonly .wax-input__input {
  color: #888;
}
