.wax-tab-bar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  overflow: hidden;
  min-height: 58px;
  background-color: #fff;

  &-item {
    flex: 1;
    color: var(--f6-overlay-background-color);
    white-space: nowrap;
    padding: 4px 8px;
    width: min-content;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &-item-icon {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 18px;
    .wax-icon {
      font-size: 18px;
    }
  }

  &-item-title {
    font-size: 11px;
    line-height: 15px;
  }

  &-item-active {
    color: var(--f6-primary-color);
  }

  &-icon-badge {
    --top: 6px;
  }

  &-title-badge {
    --right: -2px;
    --top: -2px;
  }
}
