.wax-grid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.wax-grid::after {
  border-top-width: 1px;
}
.wax-grid-item {
  position: relative;
  box-sizing: border-box;
}
.wax-grid-item::after {
  border-bottom-width: 1px;
  border-right-width: 1px;
}
.wax-grid-item__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 12px;
  background-color: #fff;
}
.wax-grid-item__text {
  margin-top: 4px;
}
