body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Segoe UI,Arial,Roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
}

code {
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff;
  margin-top: 16px;
}

.block-panel {
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f6f8fa;
  }
}

.block-panel > h3 {
  margin-top: 0px;
}

.token.operator, 
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #6983b7;
  background-color: transparent;
}

.code-container {
  border-radius: 10px;
  background-color: #fff;
}