body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans",-apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Segoe UI,Arial,Roboto,"PingFang SC","miui","Hiragino Sans GB","Microsoft Yahei",sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f7f8fa;
}

code {
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  background: #f5f3f3;
  padding: 3px 5px;
  color: #586ff5;
  border-radius: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 14px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #fff;
  margin-top: 16px;
}

.block-panel {
  position: relative;
  font-size: 16px;
  line-height: 30px;
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f6f8fa;
  }
  .to-github-link {
    position: absolute;
    right: 24px;
    top: 26px;
    color: #607d8b;
  }
  p {
    margin-bottom: 5px;
    margin-top: 5px;
  }
}

.block-panel > h3 {
  margin-top: 0px;
}

.token.operator, 
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #6983b7;
  background-color: transparent;
}

.code-container {
  line-height: 1.2;
  border-radius: 10px;
  background-color: #fff;
  code {
    padding: 0;
  }
}

blockquote {
  margin: 20px 0;
  padding: 4px 10px;
  color: #6b5900;
  border-left: 6px solid #e7c000;
  background-color: rgba(255,229,100,.3);
}