.wax-check-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 24px;
  padding: 10px 12px;
  cursor: pointer;
}
.wax-check-list-item--label-right {
  justify-content: flex-end;
  flex-direction: row-reverse;
}
.wax-check-list-item--label-right .wax-check-list-item__icon {
  margin-right: 10px;
}
.wax-check-list-item::after {
  left: 12px;
}
.wax-check-list-item__icon {
  display: flex;
  align-items: center;
  color: #1677ff;
}
.wax-check-list-item__icon * {
  font-size: 20px;
}
.wax-check-list-item--disabled {
  color: #ccc;
}
.wax-check-list-item:last-child::after {
  display: none;
}
