@import './../style/base.less';

@tab: ~'@{prefix}-tab';

.@{tab} {
  &__wrap {
    position: relative;
    color: #646566;
  }
  
  &__list {
    height: 44px;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  
  &-item {
    flex: 1;
    height: 100%;
    line-height: 44px;
    cursor: pointer;
    text-align: center;
  }
  
  &__line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 2px;
    background: rebeccapurple;
    transform: scaleX(.2);
    transition: left 300ms;
  }
}