.wax-radio {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.wax-radio__icon {
  display: inline-block;
  vertical-align: middle;
}
.wax-radio__icon .wax-icon {
  font-size: 20px;
  width: 20px;
  height: 20px;
}
.wax-radio__text {
  color: #666;
  margin-left: 2px;
}
.wax-radio--checked .wax-radio__icon {
  color: var(--f6-primary-color);
}
.wax-radio--disabled .wax-radio__icon,
.wax-radio--disabled .wax-radio__text {
  color: #aaa;
}
.wax-radio--block {
  display: flex;
  align-items: center;
}
