.wax-number-keyboard {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 6px;
  padding-top: 6px;
}
.wax-number-keyboard__units {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}
.wax-number-keyboard__unit {
  position: relative;
  flex: 1;
  flex-basis: 33%;
  box-sizing: border-box;
  padding: 0 6px 6px 0;
}
.wax-number-keyboard__box {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 24px;
}
.wax-number-keyboard__keyboard-icon,
.wax-number-keyboard__delete-icon {
  width: 32px;
  height: 22px;
}
