:root {
  --f6-overlay-z-index: 999;
  --f6-dialog-z-index: 1000;
  --f6-popup-z-index: 1000;

  // theme color
  --f6-primary-color: #009688;
  --f6-success-color: #07c160;
  --f6-danger-color: #ee0a24;
  --f6-warning-color: #ff976a;
  --f6-info-color: #00c853;

  // overlay
  --f6-overlay-background-color: rgba(0, 0, 0, 0.6);

  // popover
  --popover-arrow-color: #fff;

  // button
  --f6-button-primary-border-color: var(--f6-primary-color);
  --f6-button-primary-background-color: var(--f6-primary-color);
  --f6-button-middle-height: 40px;
}

@import './transition.less';