.wax-action-sheet-title,
.wax-action-sheet-item {
  padding: 12px 12px;
  line-height: 24px;
  text-align: center;
}
.wax-action-sheet-title {
  color: #666;
}
.wax-action-sheet-title::after {
  border-bottom-width: 1px;
}
.wax-action-sheet-item-name {
  font-size: 16px;
  color: #666;
}
.wax-action-sheet-item-desc {
  font-size: 12px;
  color: #ccc;
}
.wax-action-sheet-gap {
  height: 8px;
  background-color: #f5f5f5;
}
.wax-action-sheet-action {
  cursor: pointer;
}
