@import "./../style/base.less";

@popover: ~"@{prefix}-popover";

.@{popover} {
  position: absolute;
  &__content {
    padding: 12px;
    background: #fff;
    box-shadow: 0 2px 12px #ccc;
  }
  &__arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-color: transparent;
    border-style: solid;
  }
}

// bottom
.@{popover}--bottom-start,
.@{popover}--bottom,
.@{popover}--bottom-end {
  .@{popover}__arrow { 
    top: -12px;
    border-bottom-color: var(--popover-arrow-color);
  }
}

// top
.@{popover}--top,
.@{popover}--top-start,
.@{popover}--top-end {
  .@{popover}__arrow {
    bottom: -12px;
    border-top-color: var(--popover-arrow-color);;
  }
}

// right
.@{popover}--right,
.@{popover}--right-start,
.@{popover}--right-end {
  .@{popover}__arrow {
    left: -12px;
    border-right-color: var(--popover-arrow-color);
  }
}

// left
.@{popover}--left,
.@{popover}--left-end,
.@{popover}--left-start {
  .@{popover}__arrow {
    right: -12px;
    border-left-color: var(--popover-arrow-color);
  }
}

.@{popover}--left,
.@{popover}--right {
  .@{popover}__arrow {
    top: 50%;
    transform: translateY(-50%);
  }
  &-start {
    .@{popover}__arrow {
      top: 8px;
    }
  }
  &-end {
    .@{popover}__arrow {
      bottom: 8px;
    }
  }
}

.@{popover}--top,
.@{popover}--bottom {
  .@{popover}__arrow {
    left: 50%;
    transform: translateX(-50%);
  }
  &-end {
    .@{popover}__arrow {
      right: 8px;
    }
  }
  &-start {
    .@{popover}__arrow {
      left: 8px;
    }
  }
}