.docs-block {
  padding-left: 16px;
  padding-right: 20px;
  color: #34495e;
  h3 {
    font-size: 20px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  ul {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.block-panel {
  pre {
    padding: 20px !important;
    border-radius: 2px;
    background-color: #f6f8fa;
  }
}

.block-panel,
.f6-docs-table {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 8px 12px #ebedf0;
}

.block-panel {
  padding: 20px;
  padding-bottom: 12px;
  margin-top: 20px;
}

.f6-docs-table {
  padding: 10px 16px;
  margin-bottom: 12px;
  table {
    width: 100%;
    color: #34495e;
    font-size: 14px;
    line-height: 2;
    background-color: #fff;
    border-collapse: collapse;
  }
  th {
    padding: 8px 10px;
    padding-left: 0;
    font-weight: 600;
    text-align: left;
  }
  td {
    padding: 8px;
    padding-left: 0;
    border-top: 1px solid #f1f4f8;
  }
  code {
    display: inline-block;
    padding: 4px 6px;
    line-height: 14px;
    color: #009688;
    border-radius: 2px;
    background-color: #f7f4f4;
  }
}

.code-container {
  position: relative;
  pre {
    padding: 10px 16px;
    border: 1px solid #fff;
  }
  .code-input {
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    opacity: 0;
  }
  &:hover {
    pre {
      border: 1px solid #009688;
    }
    .btn-copy {
      display: block;
    }
  }
  .btn-copy {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background: #009688;
    color: #fff;
    border: 0;
    padding: 4px 10px;
    cursor: pointer;
  }
}